<script id="index-body-template" type="text/tmpl">
    <ul class="winBox" style="width:640px">
        <li style="width:320px">
            <a href="#0" class="wLi wHot">
                <i class="ico ico-home"></i>
                <span class="ttl">新闻头条</span>
            </a>
            <a href="#0" class="wLi wHot">
                <i class="ico ico-news"></i>
                <span class="ttl">社会新闻</span>
            </a>
            <a href="#0" class="wLi">
                <i class="ico ico-finance"></i>
                <span class="ttl">财经频道</span>
            </a>
            <a href="#0" class="wLi">
                <i class="ico ico-ent"></i>
                <span class="ttl">娱乐频道</span>
            </a>
            <a href="#0" class="wLi">
                <i class="ico ico-sport"></i>
                <span class="ttl">体育频道</span>
            </a>
            <a href="#0" class="wLi">
                <i class="ico ico-tech"></i>
                <span class="ttl">科技频道</span>
            </a>
                    
            <a href="#0" class="wLi">
                <i class="ico ico-woman"></i>
                <span class="ttl">女人频道</span>
            </a>
            <a href="#0" class="wLi">
                <i class="ico ico-auto"></i>
                <span class="ttl">汽车频道</span>
            </a>
        </li>
        <li style="width:320px">
            <a href="#0" class="wLi">
                <i class="ico ico-astro"></i>
                <span class="ttl">星座频道</span>
            </a>
            <a href="#0" class="wLi">
                <i class="ico ico-joke"></i>
                <span class="ttl">笑话频道</span>
            </a>
            <a href="#0" class="wLi">
                <i class="ico ico-plus"></i>
            </a>
        </li>
    </ul>
    <div class="nav_tool">
        <a href="#0" class="download"></a>
        <a href="#0" class="manage"></a>
        <a href="#0" class="add"></a> 
    </div>
    <div class="winPage">
        <div class="winPageCont">
            <span class="front">1</span>
            <span class="back">2</span>
        </div>
    </div>
</script>