<script id="index-body-template" type="text/tmpl" xmlns="http://www.w3.org/1999/html">
    <div class="home_page">
        <div class="container">
            <ul class="winBox" style="width:640px;">
                <li style="width:320px;">
                    <div class="li_box">
                        <a href="#/c/0/1" class="wLi wHot">
                            <i class="ico ico-home"></i>
                            <span class="ttl">聚焦头条</span>
                        </a>
                        <a href="#/c/1/1" class="wLi wHot">
                            <i class="ico ico-news"></i>
                            <span class="ttl">社会新闻</span>
                        </a>
                        <a href="#/c/2/1" class="wLi">
                            <i class="ico ico-finance"></i>
                            <span class="ttl">财经频道</span>
                        </a>
                        <a href="#/c/3/1" class="wLi">
                            <i class="ico ico-ent"></i>
                            <span class="ttl">娱乐频道</span>
                        </a>
                        <a href="#/c/4/1" class="wLi">
                            <i class="ico ico-sport"></i>
                            <span class="ttl">体育频道</span>
                        </a>
                        <a href="#/c/5/1" class="wLi">
                            <i class="ico ico-tech"></i>
                            <span class="ttl">科技频道</span>
                        </a>

                        <a href="#/c/6/1" class="wLi">
                            <i class="ico ico-woman"></i>
                            <span class="ttl">女人频道</span>
                        </a>
                        <a href="#/c/7/1" class="wLi">
                            <i class="ico ico-auto"></i>
                            <span class="ttl">汽车频道</span>
                        </a>
                    </div>
                </li>
                <li style="width:320px;">
                    <div class="li_box">
                        <a href="#/c/8/1" class="wLi">
                            <i class="ico ico-astro"></i>
                            <span class="ttl">星座频道</span>
                        </a>
                        <a href="#/c/9/1" class="wLi">
                            <i class="ico ico-joke"></i>
                            <span class="ttl">笑话频道</span>
                        </a>
                        <a href="#0" class="wLi" data-message="true">
                            <i class="ico ico-plus"></i>
                        </a>
                    </div>
                </li>
            </ul>
            <div class="nav_tool">
                <a href="#0" class="download" data-message="true"></a>
                <a href="#0" class="manage" data-message="true"></a>
                <a href="#0" class="add" data-message="true"></a>
            </div>
            <div class="page_status">
                <div class="num">
                    <span class="front">1</span>
                    <span class="back">2</span>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="channel-header-template" type="text/tmpl">
    <h2 class="title" style="background-color:<#= titleColor #>"><#= name #></h2>
    <span class="mark"><#= en #></span>
    <div class="bot_bg"><span class="mark_two"></span></div>
</script>

<script id="channel-footer-template" type="text/tmpl">
    <a href="#0" class="btn back"><span class="ico ico-01"></span></a>
    <div class="status_bar">
        <span class="s_time"><#= sTime #></span>
        <span class="rel_bg">
            <a href="#0" class="active" style="left:<#= pageLeft #>">
                <span class="active_rel">
                    <i class="ico_block"><#= page #></i>
                    <i class="ico_line"></i>
                </span>
            </a>
        </span>
        <span class="s_time"><#= eTime #></span>
    </div>
    <a href="#0" class="btn refresh"><span class="ico ico-02"></span></a>
</script>

<script id="channel-body-template" type="text/tmpl">
    <# if (focusTop) { #>
        <# if (data[0]) { #>
            <# if (showFocus) { #>
                <article class="banner">
                    <div class="b_info">
                        <a href="#/n/<#= data[0]['id'] #>">
                            <img src="http://s7.rr.itc.cn/g<#= data[0]['cover_image_url'] #>" alt="">
                            <span class="title"><#= data[0]['title'] #></span>
                        </a>
                    </div>
                </article>
            <# } else { #>
                <article class="banner no_banner_pic">
                    <div class="t_info" style="background-color: <#= bgColor #>">
                        <a href="#/n/<#= data[0]['id'] #>">
                            <span>
                                <strong class="title" ><#= data[0]['title'] #></strong>
                                <em class="status"><#= data[0]['comment_count'] #>评论 <#= data[0]['create_time'] #></em>
                            </span>
                        </a>
                        <span class="h_line"></span>
                    </div>
                </article>
            <# } #>
        <# } #>
        <article class="article">
            <div class="info double_info">
                <# if (data[1]) { #>
                    <a href="#/n/<#= data[1]['id'] #>">
                        <span>
                            <strong class="title"><#= data[1]['title'] #></strong>
                            <em class="status"><#= data[1]['comment_count'] #>评论 <#= data[1]['create_time'] #></em>
                        </span>
                    </a>
                <# } #>
                <# if (data[2]) { #>
                   <a href="#/n/<#= data[2]['id'] #>">
                      <span>
                           <strong class="title"><#= data[2]['title'] #></strong>
                           <em class="status"><#= data[2]['comment_count'] #>评论 <#= data[2]['create_time'] #></em>
                      </span>
                   </a>
               <# } #>
            </div>
        </article>
    <# } else { #>
        <article class="article">
            <div class="info double_info">
                <# if (data[0]) { #>
                    <a href="#/n/<#= data[0]['id'] #>">
                        <span>
                            <strong class="title"><#= data[0]['title'] #></strong>
                            <em class="status"><#= data[0]['comment_count'] #>评论 <#= data[0]['create_time'] #></em>
                        </span>
                    </a>
                <# } #>
                <# if (data[1]) { #>
                   <a href="#/n/<#= data[1]['id'] #>">
                        <span>
                            <strong class="title"><#= data[1]['title'] #></strong>
                            <em class="status"><#= data[1]['comment_count'] #>评论 <#= data[0]['create_time'] #></em>
                        </span>
                   </a>
               <# } #>
            </div>
        </article>
        <# if (data[2]) { #>
            <# if (showFocus) { #>
                <article class="banner">
                    <div class="b_info">
                        <a href="#/n/<#= data[2]['id'] #>">
                            <img src="http://s7.rr.itc.cn/g<#= data[2]['cover_image_url'] #>" alt=""/>
                            <span class="title"><#= data[2]['title'] #></span>
                        </a>
                    </div>
                </article>
            <# } else { #>
                <article class="banner no_banner_pic">
                    <div class="t_info" style="background-color: <#= bgColor #>">
                        <a href="#/n/<#= data[2]['id'] #>">
                            <span>
                                <strong class="title" ><#= data[2]['title'] #></strong>
                                <em class="status"><#= data[2]['comment_count'] #>评论 <#= data[2]['create_time'] #></em>
                            </span>
                        </a>
                        <span class="h_line"></span>
                    </div>
                </article>
            <# } #>
        <# } #>
    <# } #>
    <article class="article">
        <div class="info double_info">
            <# if (data[3]) { #>
                <a href="#/n/<#= data[3]['id'] #>">
                    <span>
                         <strong class="title"><#= data[3]['title'] #></strong>
                         <em class="status"><#= data[3]['comment_count'] #>评论 <#= data[3]['create_time'] #></em>
                    </span>
                </a>
            <# } #>
            <# if (data[4]) { #>
               <a href="#/n/<#= data[4]['id'] #>">
                    <span>
                         <strong class="title"><#= data[4]['title'] #></strong>
                         <em class="status"><#= data[4]['comment_count'] #>评论 <#= data[4]['create_time'] #></em>
                   </span>
               </a>
           <# } #>
        </div>
    </article>
    <# if (data[5]) { #>
        <article class="article">
            <div class="info single_info">
                <a href="#/n/<#= data[5]['id'] #>">
                    <span>
                        <strong class="title"><#= data[5]['title'] #></strong>
                        <em class="status"><#= data[5]['comment_count'] #>评论 <#= data[5]['create_time'] #></em>
                    </span>
                </a>
            </div>
        </article>
    <# } #>
</script>

<script id="article-header-template" type="text/tmpl">
    <h1 class="title"></h1>
    <p></p>
</script>

<script id="article-footer-template" type="text/tmpl">
    <a href="#0" class="btn back"><span class="ico ico-01"></span></a>
    <a href="#0" class="btn approve"><span class="ico ico-03"></span></a>
    <a href="#0" class="btn turn"><span class="ico ico-04"></span></a>
    <a href="#0" class="btn comment"><span class="ico ico-05"></span></a>
    <a href="#0" class="btn refresh"><span class="ico ico-02"></span></a>
</script>

<script id="article-body-template" type="text/tmpl">
    <article class="cnt">
        <#= content #>
    </article>
    <a href="http://m.sohu.com/n/377424509/" class="look_original_btn" target="_blank"><span>查看原文</span></a>
</script>