<script id="demo-body-template" type="text/tmpl">
    <style>
    body{height:600px;}
    .boxMain{background:url("http://f1.bj.anqu.com/orgin/ZTgyYQ%3D%3D/allimg/120615/29-120615142929.jpg") no-repeat;background-size:960px;}
    .mList{overflow:hidden;margin:10px;}
    .mCnl{display:block;width:100px;height:100px;margin:10px;text-align:center;float:left;background:rgba(74,155,205,.6);color:#FFF;}
    .mCnl .ico{margin:15px 0;}
    </style>
    <div class="boxMain">
        <div class="mList">
            <div class="wrap">
                <a class="mCnl">
                    <div class="ico"><i class="i iT iT3"></i></div>
                    <div class="ttl">新闻频道</div>
                </a>
                <a class="mCnl">
                    <div class="ico"><i class="i iT iT3"></i></div>
                    <div class="ttl">新闻频道</div>
                </a>
                <a class="mCnl">
                    <div class="ico"><i class="i iT iT3"></i></div>
                    <div class="ttl">新闻频道</div>
                </a>
                <a class="mCnl">
                    <div class="ico"><i class="i iT iT3"></i></div>
                    <div class="ttl">新闻频道</div>
                </a>
                <a class="mCnl">
                    <div class="ico"><i class="i iT iT3"></i></div>
                    <div class="ttl">新闻频道</div>
                </a>
                <a class="mCnl">
                    <div class="ico"><i class="i iT iT3"></i></div>
                    <div class="ttl">新闻频道</div>
                </a>
            </div>
        </div>
    </div>
</script>