<script id="index-body-template" type="text/tmpl">
    <ul class="winBox" style="width:640px">
        <li style="width:320px;">
           <div class="li_box">
                <a href="#/c/0" class="wLi wHot">
                    <i class="ico ico-home"></i>
                    <span class="ttl">新闻头条</span>
                </a>
                <a href="#/c/0" class="wLi wHot">
                    <i class="ico ico-news"></i>
                    <span class="ttl">社会新闻</span>
                </a>
                <a href="#/c/0" class="wLi">
                    <i class="ico ico-finance"></i>
                    <span class="ttl">财经频道</span>
                </a>
                <a href="#/c/0" class="wLi">
                    <i class="ico ico-ent"></i>
                    <span class="ttl">娱乐频道</span>
                </a>
                <a href="#/c/0" class="wLi">
                    <i class="ico ico-sport"></i>
                    <span class="ttl">体育频道</span>
                </a>
                <a href="#/c/0" class="wLi">
                    <i class="ico ico-tech"></i>
                    <span class="ttl">科技频道</span>
                </a>

                <a href="#/c/0" class="wLi">
                    <i class="ico ico-woman"></i>
                    <span class="ttl">女人频道</span>
                </a>
                <a href="#/c/0" class="wLi">
                    <i class="ico ico-auto"></i>
                    <span class="ttl">汽车频道</span>
                </a>
            </div>
        </li>
        <li style="width:320px;">
            <div class="li_box">
                <a href="#/c/0" class="wLi">
                    <i class="ico ico-astro"></i>
                    <span class="ttl">星座频道</span>
                </a>
                <a href="#/c/0" class="wLi">
                    <i class="ico ico-joke"></i>
                    <span class="ttl">笑话频道</span>
                </a>
                <a href="#/c/0" class="wLi">
                    <i class="ico ico-plus"></i>
                </a>
            </div>
        </li>
    </ul>
    <div class="nav_tool">
        <a href="#0" class="download" data-message="true"></a>
        <a href="#0" class="manage" data-message="true"></a>
        <a href="#0" class="add" data-message="true"></a>
    </div>
    <div class="winPage">
        <div class="winPageCont">
            <span class="front">1</span>
            <span class="back">2</span>
        </div>
    </div>
</script>

<script id="channel-header-template" type="text/tmpl">
    <h2 class="title">科技频道</h2>
    <span class="mark">TECHNOLOGY</span>
    <div class="bot_bg"></div>
</script>

<script id="channel-footer-template" type="text/tmpl">
    <a href="#0" class="btn_back btn_ft">返回</a>
    <div class="status_bar">
        <span class="s_time">1小时前</span>
        <span class="rel_bg">
            <a href="#0" class="active">
                <span class="active_rel">
                    <i class="ico_block ">1</i>
                    <i class="ico_line"></i>
                </span>
            </a>
        </span>
        <span class="s_time">2天前</span>
    </div>
    <a href="#0" class="btn_refresh btn_ft">刷新</a>
</script>

<script id="channel-body-template" type="text/tmpl">
    <div class="banner">
        <div class="banner_info">
            <img src="images/banner.jpg" alt=""/>
            <span class="banner_info_title">苹果发信致歉中国:我们错了</span>
        </div>


    </div>
    <div class="article">
        <div class="article_info">
            <a href="#0">
                <span>苹果发苹果发信致歉中国</span>

                <p>IT之家 1天前</p>
            </a>
            <a href="#0">
                <span>苹果发苹果发信致歉中国</span>

                <p>IT之家 1天前</p>
            </a>
        </div>

    </div>
    <div class="article">
        <div class="article_info">
            <a href="#0">
                <span>苹果发苹果发信致歉中国</span>

                <p>IT之家 1天前</p>
            </a>
            <a href="#0">
                <span>苹果发苹果发信致歉中国</span>

                <p>IT之家 1天前</p>
            </a>
        </div>
    </div>
    <div class="article">
        <div class="article_info">
            <a href="#0">
                <span>苹果发苹果发信致歉中国</span>

                <p>IT之家 1天前</p>
            </a>

        </div>
    </div>
</script>
